@import '~@jetbrains/ring-ui/components/global/global';

.filter-fields-selector {
  display: inline;
  overflow-x: hidden;

  max-width: 18 * $ring-unit;

  white-space: nowrap;
  text-overflow: ellipsis;

  &_empty {
    cursor: pointer;

    color: var(--ring-secondary-color);

    & button {
      color: var(--ring-secondary-color);
    }

    &:hover {
      color: var(--ring-link-hover-color);
    }
  }

  &_error {
    border-bottom: 1px dotted var(--ring-error-color);
    box-shadow: inset 0 -1px 0 0 --ring-warning-color;
  }

  &-wrapper {
    margin-top: 14px;

    line-height: 3 * $ring-unit;
  }
}
