@import '~@jetbrains/ring-ui/components/global/global';

.yt-table {
  display: inline-block;

  border-spacing: 0;

  font-size: var(--ring-font-size-smaller);

  &__row-data th:first-child {
    padding-left: $ring-unit !important;
  }

  &__row-data td:first-child {
    padding-left: $ring-unit !important;
  }

  &__row {
    height: $ring-unit*4;

    &_hovered:hover {
      background-color: var(--ring-hover-background-color);
    }

    &_hover {
      background-color: var(--ring-hover-background-color);
    }

    &_select {
      background-color: var(--ring-selected-background-color);
    }
  }

  &__cell {
    padding: 0 $ring-unit;

    text-align: right;
    vertical-align: middle;

    &_issue-summary {
      overflow: hidden;

      max-width: $ring-unit*9;

      padding-left: 0 !important;

      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_user-avatar {
      padding-right: 8px;
    }

    &_header-title {
      white-space: nowrap;
    }

    &_text {
      overflow: hidden;

      max-width: 30px;

      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_header {
      text-align: left;
      white-space: nowrap;

      color: var(--ring-secondary-color);

      font-weight: normal;

      &_legend {
        position: relative;

        vertical-align: middle;
      }

      &_workday {
        min-width: 34px;
      }

      &_holiday {
        min-width: 34px;

        background-color: var(--ring-sidebar-background-color);
      }

      &:first-child {
        text-align: left;
      }
    }

    &_link-identifier {
      overflow: hidden;

      max-width: 60px;

      margin-right: 4px;

      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_comment {
      max-width: 150px;

      text-align: left;
      white-space: nowrap;
    }

    &_large_comment {
      max-width: 250px;

      text-align: left;
    }

    &_right-border {
      border-right: 1px solid var(--ring-line-color);
    }

    &_left-border {
      border-left: 1px solid var(--ring-line-color);
    }

    &_sticky_legend {
      position: sticky;
      top: 0;

      background: var(--ring-content-background-color);
    }

    &_sticky_total {
      position: sticky;
      top: 4*$ring-unit;

      background: var(--ring-content-background-color);
    }

    &_progress-bar {
      width: 48px;
    }
  }

  &__total {
    height: $ring-unit*6;

    .yt-table__cell {
      padding-top: $ring-unit;
      padding-bottom: $ring-unit;

      white-space: nowrap;

      border-top: 1px solid var(--ring-line-color);
      border-bottom: 1px solid var(--ring-line-color);
    }
  }

  &__group {
    .yt-table__row:first-child {
      .yt-table__cell {
        border-top: 1px solid var(--ring-line-color);
      }
    }

    .yt-table__row:last-child {
      height: $ring-unit*5;

      .yt-table__cell {
        padding-bottom: $ring-unit;
      }
    }
  }

  &__group_not-bordered {
    .yt-table__row:first-child {
      .yt-table__cell {
        border-top: 0 !important;
      }
    }
  }
}

.time-sheet-body {
  &__sideber-togger-icon {
    transition: transform 0.3s linear;

    transform: rotate(0);

    color: var(--ring-icon-color);

    &_expanded {
      transform: rotate(180deg);
    }
  }

  &__sidebar-toggler {
    padding: 2px;

    cursor: pointer;

    transition: flex 3s ease;

    border-right: 1px solid transparent;

    background: var(--ring-sidebar-background-color);

    &:hover {
      background: var(--ring-hover-background-color);

      & .time-sheet-body__sideber-togger-icon {
        color: var(--ring-dark-border-hover-color);
      }
    }
  }

  &__wrapper {
    display: flex;

    border-spacing: 0;
  }

  &__general-table {
    flex-basis: 38%;

    max-width: 38%;

    &_expanded {
      flex-basis: 100%;

      min-width: 80%;
      max-width: 100%;
    }
  }

  &__data {
    overflow: auto;
  }

  .header-legend {
    position: absolute;

    display: inline-block;
    overflow: hidden;

    width: 80px;

    margin-top: -$ring-unit;
  }
}

.no-issue-view-text {
  margin-left: -4px;
}

.time-report-body-wrapper {
  overflow-x: auto;
}

.yt-time-report__total {
  font-size: 22px;
}

.yt-time-report__total_estimation {
  color: var(--ring-secondary-color);
}

.time-sheet-body-general {
  $row-height: $ring-unit*4;

  flex-basis: 30%;

  &__axys-title {
    display: flex;
    flex-direction: column-reverse;

    height: 56px;
    padding: 4px;

    color: var(--ring-secondary-color);

    font-size: var(--ring-font-size-smaller);
    line-height: var(--ring-line-height-taller);

    & span {
      margin-right: 4px;

      white-space: nowrap;

      line-height: var(--ring-font-size-smaller);
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border: 1px solid transparent;

    &_subtitle {
      font-weight: bold;
    }

    &-left {
      overflow: hidden;

      flex-basis: 50%;

      max-width: 90%;
      padding: 8px 2px 8px 4px;

      text-align: left;

      white-space: nowrap;

      text-overflow: ellipsis;
    }

    &-right {
      position: relative;

      overflow: hidden;

      flex-basis: 50%;

      min-width: 7*$ring-unit;

      padding: 8px 4px 8px 2px;

      text-align: right;

      white-space: nowrap;

      text-overflow: ellipsis;

      font-size: var(--ring-font-size-smaller);
    }

    &_total {
      border-top: 1px solid var(--ring-border-disabled-color);
      border-bottom: 1px solid var(--ring-border-disabled-color);

      font-weight: bold;

      & .time-sheet-body-general__row-left {
        padding: 15px 2px 15px 3px;
      }

      & .time-sheet-body-general__row-right {
        padding: 15px 5px 15px 2px;
      }
    }
  }
}
