@import '~@jetbrains/ring-ui/components/global/global';

.report-chart {
  &__title {
    margin-bottom: 2 * $ring-unit;

    text-align: left;
    white-space: nowrap;

    font-weight: bold;
  }

  &__body {
    position: fixed;
    top: 2 * $ring-unit;
    bottom: 4 * $ring-unit;

    display: flex;
    align-content: stretch;
    align-items: stretch;

    width: 100%;
  }

  svg text {
    fill: var(--ring-text-color);
  }

  /* stylelint-disable */
  .nvtooltip.xy-tooltip {
    /* stylelint-enable */

    color: var(--ring-text-color);
    border-color: var(--ring-borders-color);
    border-radius: var(--ring-border-radius);
    background-color: var(--ring-popup-background-color);
  }
}
