@import '~@jetbrains/ring-ui/components/global/global';

.report-chart {
  &__title {
    margin-bottom: 2 * $ring-unit;

    text-align: left;
    white-space: nowrap;

    font-weight: bold;
  }

  &__body {
    position: fixed;
    top: 6 * $ring-unit;
    right: 0;
    bottom: 3 * $ring-unit;
    left: 0;
  }

  svg text {
    fill: var(--ring-text-color);
  }

  .nvtooltip.xy-tooltip {
    color: var(--ring-text-color);
    border-color: var(--ring-borders-color);
    border-radius: var(--ring-border-radius);
    background-color: var(--ring-popup-background-color);
  }
}
